@model HomeDetailsViewModel
@{
    
    ViewBag.Title = "Employee Details";

}


@{
    var employee = Model.Employee;
    var pagetitle = Model.PageTitle;
}

<h3>@pagetitle</h3>

<!--#region othermethod-->
@*@{
       //no need to cast it to employee type
       //var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
       var employee = ViewBag.Employee;

    }
       <div>
           <label>Id: @employee.Id</label>
       </div>
       <div>
           <label>Name: @employee.Name</label>
       </div>
       <div>
           <label>Email: @employee.Email</label>
       </div>
       <div>
           <label>Department: @employee.Department</label>
       </div>*@

@*With this method it is a strongly typed view*@
<!--#endregion-->


<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/nba.JPG" />
                <h4>Employee Id: @employee.Id</h4>
                <h4>Employee Email: @employee.Email</h4>
                <h4>Department: @employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>



@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}